# use the official image for the swift programming language
image: swift:3.1
before_script:
  - apt-get update -qq && apt-get install -y -qq libreadline-dev mercurial

build:
  stage: build
  script:
    - make release
  artifacts:
    name: "${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    expire_in: 1 week
    paths:
      - .build/
      - Tools/
  cache:
    paths:
      - Tools/
